#sign-up-box{
    /* height: 12rem; */
	background-color: rgba(63, 219, 63, .5);
    padding: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: rgb(250, 182, 80);
    text-shadow: white 1px 1px;
    text-align: center;
    box-shadow: rgba(63, 63, 63, 1) 2px 2px 2px 2px;

    
}

.sign-up-form{
    padding: 2rem;
}

.form-button-signup{
    background-color: rgba(63, 63, 219, 1);
    width: 33%;
    font-size: 1.75rem;
    font-family: inherit;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(63, 63, 63, 1) 2px 2px 2px 2px;
    margin-top: 1rem;
    

}


.MuiButton-root{
    

}
