/* Extra small devices (phones, less than 576px) */
@media screen and (max-width: 576px) {
	.p-carousel-content{
		/* margin:auto; */
		display: flex;
		justify-content: center;
		text-align: center;
	}



	.p-carousel-container{
		max-width: 100%;
		/* display: flex; */
		margin: auto;
		/* margin-top: 6rem; */
		margin-bottom: 3rem;
	}

	.p-carousel-prev, .p-carousel-next {
		/* margin-left: 2rem; */
		/* margin-right: 2rem; */
		background-color: #333 !important;
		/* border-radius: 50% !important; */
		width: 3rem !important;
		height: 3rem !important;
		opacity: 0.66;
		color: white !important;
	}

	#prod-carousel-item{
		max-width: 16rem;
		max-height: 9rem;
	}

    #carousel{
        margin-top: 3rem;
    }
    
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
	.p-carousel-content{
		/* margin:auto; */
		display: flex;
		justify-content: center;
		text-align: center;
	}



	.p-carousel-container{
		max-width: 100%;
		/* display: flex; */
		margin: auto;
		/* margin-top: 6rem; */
		margin-bottom: 3rem;
	}

	.p-carousel-prev, .p-carousel-next {
		/* margin-left: 2rem; */
		/* margin-right: 2rem; */
		background-color: #333 !important;
		/* border-radius: 50% !important; */
		width: 3rem !important;
		height: 3rem !important;
		opacity: 0.66;
		color: white !important;
	}

	#prod-carousel-item{
		max-width: 24rem;
		max-height: 13.5rem;
	}

    #carousel{
        margin-top: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.p-carousel-content{
		/* margin:auto; */
		display: flex;
		justify-content: center;
		text-align: center;
	}



	.p-carousel-container{
		max-width: 66%;
		/* display: flex; */
		margin: auto;
		/* margin-top: 6rem; */
		margin-bottom: 6rem;
	}

	.p-carousel-prev, .p-carousel-next {
		/* margin-left: 2rem; */
		/* margin-right: 2rem; */
		background-color: #333 !important;
		/* border-radius: 50% !important; */
		width: 3rem !important;
		height: 3rem !important;
		opacity: 0.66;
		color: white !important;
	}

	#prod-carousel-item{
		max-width: 24rem;
		max-height: 13.5rem;
	}

    #carousel{
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 1024.01px) and (max-width: 1280px) {
	.p-carousel-content{
		/* margin:auto; */
		display: flex;
		justify-content: center;
		text-align: center;
	}



	.p-carousel-container{
		max-width: 66%;
		/* display: flex; */
		margin: auto;
		/* margin-top: 6rem; */
		margin-bottom: 6rem;
	}

	.p-carousel-prev, .p-carousel-next {
		/* margin-left: 2rem; */
		/* margin-right: 2rem; */
		background-color: #333 !important;
		/* border-radius: 50% !important; */
		width: 3rem !important;
		height: 3rem !important;
		opacity: 0.66;
		color: white !important;
	}

	#prod-carousel-item{
		max-width: 32rem;
		max-height: 18rem;
	}
  

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1280.01px) and (max-width: 1536px){
  	.p-carousel-content{
		/* margin:auto; */
		display: flex;
		justify-content: center;
		text-align: center;
	}



	.p-carousel-container{
		max-width: 66%;
		/* display: flex; */
		margin: auto;
		/* margin-top: 6rem; */
		margin-bottom: 6rem;
	}

	.p-carousel-prev, .p-carousel-next {
		/* margin-left: 2rem; */
		/* margin-right: 2rem; */
		background-color: #333 !important;
		/* border-radius: 50% !important; */
		width: 3rem !important;
		height: 3rem !important;
		opacity: 0.66;
		color: white !important;
	}

	#prod-carousel-item{
		max-width: 40rem;
		max-height: 22.5rem;
	}
}





/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1536px) {
  	.p-carousel-content{
		/* margin:auto; */
		display: flex;
		justify-content: center;
		text-align: center;
	}

    .cont .p-carousel-container{
		max-width: 66%;
		margin: auto;

    }

	.cont{
		display: flex;
		/* margin-top: 6rem; */
        padding: 4rem;
	}

	.p-carousel-prev, .p-carousel-next {
		background-color: #333 !important;
		width: 3rem !important;
		height: 3rem !important;
		opacity: 0.66;
		color: white !important;
	}

	#prod-carousel-item{
		max-width: 48rem;
		max-height: 27rem;
	}

}

