#content-teaser-box{
    text-align: center;
    margin: auto;
	background-color: rgba(63, 219, 63, 0.5);
    padding: 2rem;
	box-shadow: rgba(63, 63, 63, 1) 0px 4px 4px 4px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Extra small devices (phones, less than 576px) */
@media screen and (max-width: 576px) {
    #content-teaser-box{
        position: relative;
        /* top: -7%; */
    }

}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 768px) {
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 1024.01px) and (max-width: 1280px) {
	

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1280.01px) and (max-width: 1536px){
  	
}





/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1536px) {
  	
}

