/* About.css */

.about-card{

    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-color: rgb(40, 12, 12);
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#about-card p{
	background-color: rgba(219, 63, 63, 0.5);
    padding: 2rem;
    font-size: 1.125rem;
    color: blanchedalmond;

}

#about-card .p-card-title{
    font-size: 2rem ;
    color: blanchedalmond;
}

